*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Overpass", sans-serif;
}

body {
  min-height: 100vh;
  background-color: hsl(216, 12%, 8%);
}

.thankyou-state {
  display: none;
}

.wrapper {
  min-height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px black; */
}

.rating-state,
.thankyou-state {
  border: none;
  width: 400px;
  height: 392px;
  padding: 2em;
  border-radius: 2em;
  /* background-color: hsl(213, 19%, 18%); */
  background: linear-gradient(hsl(215, 27%, 17%), hsl(219, 23%, 12%));
}

.star-icon {
  border: none;
  padding: 0.8em;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: hsl(213, 19%, 18%);
}

.rating-heading {
  padding: 0.5em 0;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.rating-main,
.thanks-main {
  font-size: 15px;
  line-height: 1.3em;
  /* padding-right: em; */
  margin-bottom: 20px;
  color: hsl(217, 12%, 63%);
}

.radio-toolbar {
  display: flex;
  justify-content: space-between;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 17px 20px;
  /* border: 2px solid #444; */
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  background-color: hsl(213, 19%, 18%);
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: hsl(217, 12%, 63%);
  /* border-color: #4c4; */
  color: white;
}

.radio-toolbar label:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
  cursor: pointer;
}

.submit-btn {
  /* display: block; */
  text-transform: uppercase;
  color: white;
  margin-top: 2em;
  width: 100%;
  padding: 1em 0;
  border: none;
  border-radius: 1.5em;
  background-color: hsl(25, 97%, 53%);
  letter-spacing: 0.2em;
}

.submit-btn:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.thankyou-state h1,
.thankyou-state p {
  text-align: center;
}

.thanks-img {
  text-align: center;
}

.hooh {
  margin: 1.5em 4em 0.5em 4em;
}

.selection {
  background-color: hsl(213, 19%, 18%);
  padding: 0.4em 1.3em;

  border-radius: 2em;
  color: hsl(25, 97%, 53%);
}

@media screen and (max-width: 400px) {
  .rating-state {
    width: 346px;
    padding: 1.5em;
  }
}
